<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
  <link rel="stylesheet"
    href="https://cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.css" />
  <link rel="stylesheet" href="https://cdn.datatables.net/responsive/1.0.4/css/dataTables.responsive.css" />
</head>

<body>
  <div class="container">
    <h1>StockRacing 🐴</h1>
    <h3>
      <p><a href="/changes?data=gainers">Changes</a></p>
      <p><a href="/racing">Racing</a></p>
      <p><a href="/gapper">Gapper</a></p>
      <p><a href="/volatility">Volatility</a></p>
    </h3>
  </div>
</body>

</html>