<html>
  <meta http-equiv="Refresh" content="300">
  <body>
    <h1>Racing</h1>
    <div><a href="/racing?data=gainers">Gainers</a></div>
    <div><a href="/racing?data=losers">Losers</a></div>
    <table border="1px solid black">
      <tbody>
        <tr>
          <th>Ticker</th>
          <th>Price</th>
          <th>Previous position</th>
          <th>Current position</th>
        </tr>
        {% for row_dict in rows %}
        <tr>
          <td>{{ row_dict.ticker }}</td>
          <td>{{ row_dict.cur_price }}</td>
          <td>{{ row_dict.prev_pos }}</td>
          <td>{{ row_dict.cur_pos }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
